<!DOCTYPE html>
<!-- base html template -->
<html>
<head>
    <meta charset="UTF-8" />
    {% block meta %} <!-- block meta --> {% endblock %}
    <title>{%block title%} ? {% endblock %} - Stellaris</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css" />
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css" />
    <!-- <link rel="stylesheet" href="/static/css/uikit.almost-flat.min.css" /> -->
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    {% block beforehead %}<!-- beforehead -->{% endblock %}
</head>

<body>
        <!-- navbar in top -->
        <nav class="uk-navbar uk-navbar-attached st-mybottom20">
            <div class="uk-container uk-container-center">
                <a href="/" class="uk-navbar-brand">Stellaris</a>
                <ul class="uk-navbar-nav uk-active">
                    <li data-url="blogs"><a href="/"><i class="uk-icon-home"></i> 主页</a></li>
                    <li data-url="blogs_PS"><a href="/ps/"><i class="uk-icon-pencil"></i> photoshop经验教程</a></li>
                    <li data-url="blog"><a href="/manage/"><i class="uk-icon-code"></i>测试</a></li>
                </ul>

                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                    <!-- 若已登录将显示用户信息-->
                    {% if __user__ %}
                        <li class="uk--parent" data-uk-dropdown>
                            <a href="#0"><i class="uk-icon-user"></i>{{ __user__.name }}</a>
                            <div class="uk-dropdown uk-dropdown-navbar">
                                <ul class="uk-nav nk-nav-navbar">
                                    <li><a href="/signout"><i class="uk-icon-sign-out"></i>注销</a></li>
                                    {% if __user__.admin %}
                                        <li><a target="_blank" href="/manage/"><i class="uk-icon-gear"></i>管理博客</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li><a href="/signin"><i class="uk-icon-sign-in"></i>登陆</a></li>
                        <li><a href="/register"><i class="uk-icon-edit"></i>注册</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- //navbar in top -->


        <!-- content body -->
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <!-- content -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- //content body -->

        <!-- foot -->
        <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
            <div class="uk-container uk-container-center uk-text-center">
                <div class="uk-panel uk-margin-top uk-margin-bottom">
                    <p>Powered by MoWa's Blog .Copyright &copy; 2018.</p>
                    <p>MoWa All Rights reversed.</p>
                    <a target="_blank" href="http://www.w3.org/TR/html5"><i class="uk-icon-html5" stype="font-size:64px; color:#444;"></i></a>
                </div>
            </div>
        </div>
        <!-- //foot -->
</body>
</html>
